* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.ml_para {
    margin-left: 30px;
}

.main_div .left_content {
    width: 35%;
    height: 100vh;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: #1F1815;
    color: #fff;
    text-align: center;

}

.main_div .left_content img {
    width: 150px;
    height: 150px;
    border: 2px solid #9CDCFE;
    border-radius: 50%;
    margin-bottom: 5px;
}

.main_div .left_content .name_border {
    border-bottom: 2px dotted;
}

.main_div .left_content .drge {
    text-transform: capitalize;
}

.main_div .flex {
    padding-top: 30%;

}

.main_div .right_side {
    margin-left: 35%;
    padding: 5% 2%;
}

.right_side .social_link {}

.social_link a .fa {
    font-size: 25px;
    margin-top: 5%;
    padding: 2%;
}

.social_link a .github {
    color: #fff;
}

.social_link a .whatsapp {
    color: green;
}

.social_link a .telegram {
    color: #29A9EA;
}

.right_side h1 {
    text-align: center;
    font-size: 35px;
    text-transform: capitalize;
    text-decoration: underline;
    padding: 3% 0 3% 0;

}

.right_side .grid_sub {
    display: grid;
    grid-template-columns: auto auto;
    gap: 25px;
}

.about_us_para {
    text-align: justify;
}

.right_side .grid_sub_contdnt {
    border: 2px solid #9CDCFE;
    border-radius: 20px;
}

.right_side .grid_sub_contdnt img {
    width: 100%;
    height: 250px;
    border-radius: 20px 20px  0px 0px;
}

.right_side .grid_sub_contdnt h3 {
    padding-bottom: 2%;
    text-align: center;
    font-size: 25px;
}

.right_side .grid_sub_contdnt .projeet_para {
    text-align: justify;
    padding: 10px;
}

.right_side .grid_sub_contdnt .button_area {
    text-align: center;
    margin: 20px 0;
}

.btncv {
    text-align: center;
    padding-top: 10px;
}

.btn,
.right_side .grid_sub_contdnt .btn {
    border: 0;
}

.btn,
.right_side .grid_sub_contdnt .btn a {
    padding: 8px 16px;
    border: 0;
    /* background: #290ce4; */
    background: #9CDCFE;
    color: rgb(0, 0, 0);
    text-transform: capitalize;
}

.sm_social {
    width: auto;
    text-align: center;
    background: #1F1815;
    padding: 12px;
    display: none;
}

.sm_social a {
    padding: 10px;
}


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {

    .main_div .left_content {
        width: 100%;
        height: auto;
        top: 0;
        left: 0;
        background: #1F1815;
        color: #fff;
        text-align: center;
        position: static;
        padding-bottom: 30px;
    }

    .main_div .flex {
        padding-top: 5%;
    }

    .main_div .grid {
        display: grid;
    }

    .social_link {
        display: none;
    }

    .right_side .grid_sub {
        display: grid;
        grid-template-columns: 100%;
        gap: 25px;
    }

    .main_div .right_side {

        margin: 0% 2%;
        padding: 5% 2%;
    }

    .right_side .grid_sub_contdnt img {
        width: 100%;
        height: 200px;
    }
    .sm_social{
        display: block;
    }

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
   
}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .right_side .grid_sub{
        grid-template-columns: auto;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}